#treeview li > div {
    display: flex;
  }
  #treeview a.active {
    font-weight: bold;
    color: #42b983;
  }
  #treeview li > div > a.toggler {
    font-family:'Courier New', Courier, monospace;
    width: 1em;
    color: #42b983;
    text-decoration: none;
  }
  #treeview li > div > a.menu-item {
    flex-grow: 1;
    padding: 0 3px;
    text-decoration: none;
  }
  #treeview li > div > a.menu-item:hover {
    background-color: #c6f8e2;
  }
  #treeview li > div > a.disabled {
    color: #aaa;
    font-style: italic;
    text-decoration: none;
  }
  #treeview li > ul {
    display: none;
  }
  #treeview li > ul.show {
    display: inherit;
  }
  .sidebar-nav {
    display: none !important;
  }